.singleCard {
  width: 22rem;
  background-color: var(--bg-gray);
  padding: 1rem;
  border-radius: 8px;
  height: calc(100vh - 64px - 5.8rem);
  margin: 1rem 0 1rem 0;
  overflow-y: auto;

  .mainTitle {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 20px;
      font-weight: 600;
    }

    .icon {
      cursor: pointer;
    }
  }
}

.singleCard::-webkit-scrollbar {
  width: 10px;
}

.singleCard::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.singleCard::-webkit-scrollbar-thumb {
  background: #9cb7c5;
  border-radius: 10px;
}

.singleCard::-webkit-scrollbar-thumb:hover {
  background: #555;
}
